<!doctype html>
<html>
<head>
    <title>Blogz</title>
    <link href="/static/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <nav><a href="/login">Login</a> <a href="/">Homepage</a> <a href = "/blog">All Posts</a> <a href="/newpost">New Entry</a> <a href="/logout">Logout</a>
        </nav>
    </header>

    {% with messages = get_flashed_messages() %}
        <ul>
        {% for message in messages %}
            <li>{{message}}</li>
        {% endfor %}
        </ul>
    {% endwith %}

    {% block content %}
    {% endblock %}

</body>
</html>